<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	# RewriteCond %{REQUEST_URI} !\.(ico|swf|jpe?g|gif|png|bmp|css|js)$
	RewriteRule ^(.*)$ index.php?__route__=$1 [QSA,L]
</IfModule>
